# This file should go to /etc/systemd/system/..

[Unit]
Description=Bind /home/opt to /opt

[Mount]
What=/home/opt
Where=opt
Type=none
Options=bind

[Install]
WantedBy=multi-user.target

